 
 
 *{
     box-sizing: border-box;
 }
 :root{
    --primary: #ffbd00;
    --secondary: #ff60ce;
    --background: #0b0016;
    --grey: #9b9eac;
    --light: #fff;
    --dark:#0a0a0a;
    --main-font:'Mitr', sans-serif;
    --secondary-font: 'Barlow', sans-serif;
    --sidePadding: 12%;
 }
 body{
    margin: 0;
    background-color: var(--background);
    color: var(--grey);
    width: 100%;
 }

 #MC-TOP-LOGO
 {
    width:6em;
 }

 nav
 {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
 }

 #NAVIGATION-MENU
 {
     display:flex;
     flex-direction: row;
     justify-content:space-evenly;
     margin-left:auto;
 }

 .NAVIGATION-ELEMENTS
 {
     margin: 1em;
 }

 .MENU-HOLDER {
    position:relative;
    
    
}
 

 .DETAILS-LIST
{
     list-style: none;
     visibility:hidden;
     position:absolute;
     padding:0;
     
     
}

.MENU-HOLDER:hover .DETAILS-LIST
{
    visibility:visible;
    background-color:var(--light);
    color:var(--dark);
    
}


#HOME
{
    margin:auto;
    height:100vh;
    background-image: url(./images/background.jpg), linear-gradient(to top, #0b0016 16%, rgba(49, 19, 131, 0.562) 51%, transparent);
    background-blend-mode:overlay;

    background-size:cover;
    
}

section
{
    display:flex;
    flex-direction:column;
    padding:var(--sidePadding);
    width:100%;
}

h1,h3, h4, h5, h6
{
    color:var(--light);
}
h1
{
    font-size:4em;
    font-family: var(--main-font);
    width:11.5ch;
}

h3
{
    color:var(--secondary);
    font-size:2.2rem;
}

h2
{
    font-size:2em;
}

header > section{
    display:flex;
    flex-direction:column;
    justify-content:center;
}

#DATE-PLACE
{
    display:flex;
    flex-direction:column;
    align-items: flex-end;
    width:100%;
}

a
{
    text-decoration:none;
    color:var(--light);
}

#ABOUT-DESIGN-FEST 
{
    display: flex;
    flex-direction: row;
}
#ABOUT-DESIGN-FEST-TEXT-AND-BUTTON 
{
    width:50%;
}

#ABOUT-DESIGN-FEST-TEXT-AND-BUTTON h2
{
width:15ch;

}


#ABOUT-DESIGN-FEST-PARAGRAPHS
{
    width: 50%;
}

p
{
    font-size:1.5em;
}
#ABOUT-DESIGN-FEST-CONTAINERS
{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

/*----------------SPEAKERS-BELOW----------------*/

#SPEAKERS-CAROUSEL
{
    width:100%;
    display: flex;
    justify-content: space-between;
    
}

.SPEAKER
{
    padding:0 0.5em;
}

.SPEAKER-FACE
{
    position: relative;
}

.SPEAKER-FACE:hover
{
    transform:scale(1.2,1.2)

}

.SPEAKER-SOCIALS a
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.SPEAKER-SOCIAL
{
    width: 12%;
position:absolute;
top:0;

}

/*----------DETAILS----------------------*/

#DETAILS
{
    display: flex;
    flex-direction: row;
    
}

#DETAILS img {
    width:55%;
    object-fit: cover;

}

.RIGHT-DETAILS {
    margin:3em;
}

/*------------SCHEDULE----------------*/

#SCHEDULE-BOX 
{

display: flex;
flex-direction: column;
background-color:var(--dark);
width: 100%;
border-radius: 1.4em;
padding: 2em;

}

#SCHEDULE-NAVIGATION
{
    width:100%;
    display: flex;
    justify-content:center;
    border-bottom: 0.1em solid var(--grey);
    
}
#SCHEDULE-NAVIGATION a
{
    display:flex;
    margin:1em;
    font-size:1.2em;
    border-bottom: 0.1em solid transparent;
    justify-content:center;
    transition:color 300ms ease-in, border-bottom-color 300ms ease-in;
}
#SCHEDULE-NAVIGATION a:hover
{
    color:var(--primary);
    border-bottom: 0.1em solid var(--primary);
}

#SCHEDULE-CONTENT
{
    padding: 2em;

}

.SCHEDULE-DAY
{
    display:none;
    flex-direction: column;
}

.SCHEDULE-DAY.ACTIVE 
{
display: flex ;
}

.schedule-content-element
{
    border-bottom: 0.1em dashed var(--grey);
    padding: 2em;
    display: flex;
    justify-content: space-between;
}
.schedule-content-element:last-child
{
    border:none;
}


/*--------MAP-------*/
#MAP
{
    width:100%;
    opacity: 0.6;
    transition: opacity 300ms ease-in;
}
#MAP:hover
{
    opacity: 1;
}


/*---------FOOTER-----------*/

footer #CONTACT
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#COPYRIGHT
{
align-items: center;
}
#NAVIGATION-MENU a
{
    font-weight: 1000;
}

.yellow
{
    color:var(--primary);
}

.NAVIGATION-ELEMENTS.yellow
{
    color: var(--primary);
}
 

 
 


